# Docker & venv
strain_venv/
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo 
.git/
.pytest_cache/
htmlcov/
*/tests.py
**/tests.py
*.md
package*.json